<main>
    <section class="tarefas">
        <div class="tarefas">
            <form action="">
                <input type="radio" id="tarefa-1">
                <label for="tarefa-1">Completar o curso de JavaScript </label>
                <button>
                    <img src="/images/x-icon.svg" alt="icone de x para excluir tarefa">
                </button>

            </form>

        </div>
    </section>
</main>